@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color: #ffffff;
  --error-bg-color: #ff726f;
  --primary-bg-color: #f8fafc;
  --secondary-bg-color: #383838;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--primary-bg-color);
}

/* Header styles */
header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input {
  width: 250px;
  outline: none;
  padding: 0.5rem;
  font: 1rem 'Inter';
  border-color: var(--secondary-bg-color);
  border-radius: 0.3rem 0 0 0.3rem;
}
button {
  border: none;
  cursor: pointer;
  padding: 0 0.8rem;
  font: bold 1rem 'Inter';
  color: var(--font-color);
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: var(--secondary-bg-color);
}
header > p {
  display: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  font: 1rem 'Inter';
  color: var(--primary-bg-color);
  background-color: var(--error-bg-color);
}

/* Main styles */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--font-color);
}

/* Forecast styles */
.forecast {
  padding: 0.5rem;
  margin: 0 0.5rem 0 1rem;
  border-radius: 0.5rem;
  min-width: 420px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  background: 0 0 / cover no-repeat;
}
.forecast > div {
  display: flex;
  align-items: center;
}
.forecast > img {
  height: 210px;
  margin-left: auto;
}
.temperature {
  margin-right: auto;
  font: 10rem 'Lilita One';
}
.location,
.conditionText {
  border: none;
  opacity: 0.8;
  margin-right: auto;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  font: bold 1.2rem 'Inter';
  background-color: var(--secondary-bg-color);
}

/* Highlights styles */
.highlights {
  display: grid;
  gap: 0.5rem;
  margin: 0 1rem 0 0.5rem;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.highlights > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg-color);
}
.highlights img {
  height: 128px;
  align-self: center;
  justify-self: center;
}
.highlights p:first-child {
  font: 1rem 'Inter';
  padding: 0.5rem 0 0 1rem;
}
.highlights p:last-child {
  text-align: center;
  margin-bottom: 0.5rem;
  font: 2rem 'Lilita One';
}

/* Footer styles */
footer {
  padding: 0.5rem;
  text-align: center;
  font: 1rem 'Inter';
  margin: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--font-color);
  background-color: var(--secondary-bg-color);
}

/* Media queries */
@media (width <= 1024px) {
  header > p {
    margin-top: 0.5rem;
  }
  main > div {
    width: 100%;
    grid-template: repeat(2, 1fr) / 1fr;
  }
  .forecast,
  .highlights {
    min-width: auto;
    margin: 0.5rem 1rem;
  }
  .temperature {
    font-size: 6rem;
  }
  .forecast > img {
    height: 128px;
  }
  .highlights img {
    height: 80px;
  }
}

@media (width > 600px) {
  main > div {
    max-width: 70vw;
    height: max-content;
  }
}
